#{extends 'main.html' /}
#{set title:'Welcome to Spacebook' /}

<nav class="ui inverted menu">
  <a class="item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Login   </a>
</nav> 

<section class="ui segment">
<section class="ui segment">
  <div class="ui padded aligned grid">
  <div class="ui row">
		<div class="green two wide column">
			<div class="ui labeled button" tabindex="0">
				<div class="ui green button">
					<i class="big rocket icon"></i>
					<h4>SPACEBOOK</h4>

				</div>
			</div>
		</div>
		<div class="green aligned left fourteen wide column">
			<h1>Signup or Log in to the Spacebook Service</h1>
		</div>
	</div>
</div>
</section>
